extends layout

block content
	include lib/header
	.m2-frontHead
		.m2-frontHeadbox
			ul#aboutusul.m2-frontHeadlist(style='width:998px;')
				li
					i.m2-frontHeadbox-line
					a(href='guanyu_aiqianbang.html')
						b.m2-headIcon1
						span 关于我们
				li
					i.m2-frontHeadbox-line
					a(href='anquanlicai_yewutese.html')
						b.m2-headIcon2
						span 业务特色
				li
					i.m2-frontHeadbox-line
					a(href='aiqianbang_touzilicaigongsi_dashiji.html')
						b.m2-headIcon3
						span 大事记
				li
					i.m2-frontHeadbox-line
					a(href='meitibaodao_aiqianbang_licaiwang.html')
						b.m2-headIcon4
						span 媒体报道
				li
					i.m2-frontHeadbox-line
					a(href='licai_gonggao.html')
						b.m2-headIcon5
						span#announcementnav 网站公告
				li
					i.m2-frontHeadbox-line
					a(href='aiqianbang_touzilicaigongsi_tuanduijieshao.html')
						b.m2-headIcon6
						span 管理团队
				li(style='margin-right:0px')
					a(href='lianxi_aiqianbang_licaiwang.html')
						b.m2-headIcon8
						span 联系我们
	.m2-aboutBanner-con
	.m2-about-con
		h1 "火星人"是谁
		.m2-abuoutDet-box
			h3
				i
				| 公司简介
			p
				| 南宁火星人信息科技有限公司由留学人员杜聪回国创办，是一家致力于电子商务系统研发及提供相关配套增值服务的企业，公司在英国伦敦设有分部。公司将凭借总经理多年在英国为多家电子商务和网络媒体公司提供咨询服务的经验，能够为正在从事或即将设计电子商务的企业提供配套的增值性的咨询服务，其中包括电子商务整合方案策划，B2B,B2C整体解决方案，移动APP解决方案，网络媒体市场营销，网络品牌及形象推广，网络用户调研，数据采集和经济模型分析，项目预算与评估，财务分析和融资方案等。
			h3
				i
				| 公司优势
			p
				| "火星人"——人是互联，社交的最基本元素，作为一家以人为本的互联网企业，团队是公司的核心竞争力，我们始终坚持用最前沿的技术助力企业转型互联网+，实现全球化，数据化和智能化
		h1(style='margin-top:10px;') 公司资质
		ul.m2-aboutImglist
			li(src='/public/images/guarantee/m2-yyzz.jpg')
				i.m2-aboutImglist-1
				p 营业执照
			li(src='/public/images/guarantee/m2-khxkz.jpg')
				i.m2-aboutImglist-2
				p 开户许可证
			li(src='/public/images/guarantee/m2-xydmz.jpg')
				i.m2-aboutImglist-5
				p 信用代码证
			li(src='/public/images/guarantee/m2-jyxkz.jpg')
				i.m2-aboutImglist-6
				p 经营许可证
	#m2-aboutSec-list(style='width:1030px;margin-bottom:50px;')
		h3 企业荣誉
		ul.roundabout-holder
			li.roundabout-moveable-item
				img(src='/public/images/about/prize01_v2.jpg', alt='')
			li.roundabout-moveable-item
				img(src='/public/images/about/prize04_v2.jpg', alt='')
			li.roundabout-moveable-item
				img(src='/public/images/about/prize02_v2.jpg', alt='')
			li.roundabout-moveable-item
				img(src='/public/images/about/prize03_v2.jpg', alt='')
			li.roundabout-moveable-item
				img(src='/public/images/about/prize05_v2.jpg', alt='')
			li.roundabout-moveable-item
				img(src='/public/images/about/prize06_v2.jpg', alt='')



