extends layout

block content
	include lib/header
	.m2-frontHead
		.m2-frontHeadbox
			ul#aboutusul.m2-frontHeadlist(style='width:998px;')
				li
					i.m2-frontHeadbox-line
					a(href='guanyu_aiqianbang.html')
						b.m2-headIcon1
						span 关于我们
				li
					i.m2-frontHeadbox-line
					a(href='anquanlicai_yewutese.html')
						b.m2-headIcon2
						span 业务特色
				li
					i.m2-frontHeadbox-line
					a(href='aiqianbang_touzilicaigongsi_dashiji.html')
						b.m2-headIcon3
						span 大事记
				li
					i.m2-frontHeadbox-line
					a(href='meitibaodao_aiqianbang_licaiwang.html')
						b.m2-headIcon4
						span 媒体报道
				li
					i.m2-frontHeadbox-line
					a(href='licai_gonggao.html')
						b.m2-headIcon5
						span#announcementnav 网站公告
				li
					i.m2-frontHeadbox-line
					a(href='aiqianbang_touzilicaigongsi_tuanduijieshao.html')
						b.m2-headIcon6
						span 管理团队
				li(style='margin-right:0px')
					a(href='lianxi_aiqianbang_licaiwang.html')
						b.m2-headIcon8
						span 联系我们
	.m2-aboutBanner-con
	.m2-about-con
		h1 爱钱帮是谁
		.m2-abuoutDet-box
			h3
				i
				| 公司简介
			p
				| 北京爱钱帮财富科技有限公司是一家践行普惠金融的科技金融公司，爱钱帮平台于2014年4月上线运营，上线两个月即获盛大资本的战略投资。管理团队来自清华、北航、上财等知名院校，具有丰富的金融和风险管理经验。2015年7月，爱钱帮与徽商银行首创“银行存管+余额理财”新模式，成为真正实现银行资金存管的平台。2015年10月，爱钱帮联合江西银行推出基于游戏消费场景的消费金融新产品“闪垫侠”，即“游戏白条”。截至2016年4月，平台累计成交额已经超过20亿元，用户数超过35万人。爱钱帮自主研发的业内领先的大数据风控系统实现了线上审批，即刻放款，贷后系统监控，结合线下风控手段，形成了独特的O2O风险管理体系。
			h3
				i
				| 公司优势
			p
				| 爱钱帮的业务模式安全合规，受到政府部门和行业协会的高度认可。爱钱帮是央行中国互联网金融协会的首批会员单位，是北京网贷行业协会的首批创始会员，也是中关村网贷联盟的首批创始会员，同时还是中国小额信贷联盟会的理事单位。2014年，爱钱帮荣获“年度最具成长性P2P平台”。同年，爱钱帮全面升级信息安全体系，并通过了ISO27001信息安全管理体系认证。2015年1月，爱钱帮荣获由中国证券市场研究设计中心与和讯网联合主办的“第12届中国财经风云榜2014年最佳品牌营销奖”。2015年，爱钱帮被授予国家高新科技企业称号。
		h1(style='margin-top:10px;') 公司资质
		ul.m2-aboutImglist
			li(src='/th/images/guarantee/m2-yyzz.jpg')
				i.m2-aboutImglist-1
				p 营业执照
			li(src='/th/images/guarantee/m2-khxkz.jpg')
				i.m2-aboutImglist-2
				p 开户许可证
			li(src='/th/images/guarantee/m2-xydmz.jpg')
				i.m2-aboutImglist-5
				p 信用代码证
			li(src='/th/images/guarantee/m2-jyxkz.jpg')
				i.m2-aboutImglist-6
				p 经营许可证
	#m2-aboutSec-list(style='width:1030px;margin-bottom:50px;')
		h3 企业荣誉
		ul.roundabout-holder
			li.roundabout-moveable-item
				img(src='/th/images/about/prize01_v2.jpg', alt='')
			li.roundabout-moveable-item
				img(src='/th/images/about/prize04_v2.jpg', alt='')
			li.roundabout-moveable-item
				img(src='/th/images/about/prize02_v2.jpg', alt='')
			li.roundabout-moveable-item
				img(src='/th/images/about/prize03_v2.jpg', alt='')
			li.roundabout-moveable-item
				img(src='/th/images/about/prize05_v2.jpg', alt='')
			li.roundabout-moveable-item
				img(src='/th/images/about/prize06_v2.jpg', alt='')



