#mainNewfoot
    .mainNewfocus(style='width:740px;')
        .mainNewblog
            ul
                li.joinWb
                    span
                    p 官方微博
                li.joinWx
                    span
                    p 官方微信
        .mainNewcopy
            .mainNewserve
                h3
                    | 客服电话:            
                    span(style='font-size:12px;') 投资有风险，请谨慎投资
                h3 0777-3216270   www.mars-it.net
                ul
                    li
                        a(href='invest') 我要投资
                    li
                        a(href='') 帮助中心
                    li
                        a(href='about') 关于我们
                    li
                        a(href='') 新闻公告
            .mainNewown
                p 页面版权所有：南宁火星人信息科技有限公司  桂ICP备15003644号-2
               
                p 推荐使用IE7以上版本      法律顾问：律师事务所（grandall.com.cn）
            .mainNewsafe
                ul
                    li.icon-norton
                        a(rel='nofollow',  target='_blank')
                    
                    li.icon-kx
                        a(rel='nofollow',  target='_blank')
                   
                    li.icon-zhx
                        a(rel='nofollow', target='_blank')
                    li.icon-icp
                        a(rel='nofollow',  target='_blank')
